{% extends "base.html" %}
{% block title %} Deputados - Banco de Dados aberto {% endblock %}
{% block content %}
  <h1 text-align="center">Deputados eleitos em 2022</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sexo</th>
        <th scope="col">Partido</th>
        <th scope="col">Data Início Legislatura</th>
        <th scope="col">Data Fim Legislatura</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {% for deputado in deputados %}
        <tr>
          <td><a>{{ deputado.nome | title }}</a></td>
          <td>{{ deputado.sexo }}</td>
          <td>{{deputado.nomePartido}}</td>
          <td>{{ deputado.dataInicioLegislatura }}</td>
          <td>{{ deputado.dataFimLegislatura }}</td>
          <td>{{ deputado.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

